body{
	color:black;
	background-image:url("https://www.printawallpaper.com/upload/designs/Lego_Blocks_dn.jpg");
}


#wrapper{
	width: 800px;
	height: 610px;
	background-color:white;
	border: 5px solid black;
	margin: auto;
}

h1{
	font-family: Impact, sans-serif;
	font-size: 40px;
	padding-top: 20px;
}
