body{
	color:black;
	background-color:yellow;
}


#wrapper{
	width: 800px;
	height: 630px;
	background-color:white;
	border: 5px solid black;
	margin: auto;
}

h1{
	font-family: Impact, sans-serif;
	font-size: 40px;
	padding-top: 20px;
	color: blue;
}
h6{
	color:red;
}
