body{
	color:black;
	background-image:url("LegoVideo/lego-background.png");
}


#wrapper{
	width: 800px;
	height: 650px;
	background-color:white;
	border: 5px solid black;
	margin: auto;
}

h1{
	font-family: Impact, sans-serif;
	font-size: 40px;
	padding-top: 20px;
	font-colour: green;
}
